<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <div>
        <form>
            <input id="id" type="hidden" name="id">
            <div>
                <label for="name">Products name</label>
                <input type="text"
                id="name"
                name="name"
                placeholder="Enter product name">

            </div>
            <div>
                <label for="price">Product price</label>
                <input type="text"
                       id="price"
                       name="price"
                       placeholder="Enter product price">

            </div>
            <div>
                <label>Category</label>
                <select name="category">
                    <option>


                    </option>
                </select>
            </div>
            <div>
                <textarea name="description" id="description">
                    Hey... say something!
                </textarea>
            </div>
            <button id="submit" type="submit">Submit</button>
            <a type="button" href="/products">Back</a>
        </form>
    </div>

</body>
</html>